extends template.pug
block page-head 
    link(rel="stylesheet" href="/public/css/search.css")
    script(type="module" src="/public/js/find.js" defer)

block page
    div#MainDiv
        div.wrap
            div.search
                input.searchTerm#searchTerm(type="text" placeholder="What are you looking for?")
                button.searchButton#searchButton(type="submit")
                    i.fa search
        div#results
                li.result(v-for="rental in rentals")
                    include card
            
