extends template.pug
block page-head 
    link(rel="stylesheet" href="/public/css/users.css")
    //- link(rel="stylesheet" href="/public/css/search.css")
    script(type="module" src="/public/js/users.js" defer)

block page
    div#MainDiv
        div.content-profile-page
            div.profile-user-page.card#user-profile
                div.img-user-profile
                    img.profile-bgHome(src="https://www.incharge.org/wp-content/uploads/2019/08/lower-rent.jpg")
                    img.avatar(v-bind:src="user.picture" :alt="user.displayName + ' image'")
                //- button Follow
                div.user-profile-data
                    h1 {{user.displayName}}
                    p Your user
                div.description-profile Renterer
                ul.data-user
                    li
                        a(v-on:click="showResults()")
                            strong(v-if="user.rentals") {{user.rentals.length}}
                            span Your Rentals
                div(v-if="toShowResults")
                    li.result(v-for="rental in user.rentals")
                        include card



